.container {
  display: flex;
  width: 98.44%;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: transparent;
  margin: 0.25rem;
}

.firstChild {
  margin-top: auto !important;
}

.meContainer {
  justify-content: right;
  flex-direction: row-reverse;
}

.imageHolder {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 5%;
  margin: 0.5rem;
}

.meImageHolder {
  justify-content: left;
}

.message {
  display: flex;
  flex-wrap: wrap;
  max-width: 20rem;
  padding: 0.75rem;
  background-color: #2f2f2f;
  border-radius: 12px 12px 12px 0px;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.me {
  border-radius: 12px 12px 0px 12px;
  background: #f3ae9f;
  color: #050505;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

@media (max-width: 1000px) {
  .container {
    padding: 0rem 1rem;
  }
  .message {
    max-width: 15rem;
    padding: 0.5rem;
  }
  .imageHolder {
    width: 5%;
    
  }
}