.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 90vh;
    width: auto;
    flex-direction: row;
}

.chatsContainer {
    background-color: #181818;
    width: 33%;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    margin-left: 1rem;
    padding: 2rem;
}
.messagesContainer {
    background-color: #181818;
    width: 63%;
    border-radius: 0.5rem;
}