.footer {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  justify-content: space-between;
}

.logo {
  color: #f3ae9f;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-right: 3rem;
  margin-left: 2rem;
}

.div2 {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.contact {
  color: #fff;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-right: 2rem;
}

.social {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }
  .logo {
    margin-top: 2rem;
    font-size: 1.875rem;
    width: 100%;
    text-align: center;
  }
  .contact {
    margin-right: 1.5rem;
    font-size: 1rem;
  }
  .div2 {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .social {
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
  }
}